:root {
  --grey-25: rgba(0, 0, 0, 0.25);
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

/* # Layout */

.site-header,
.site-main,
.site-footer {
  box-sizing: border-box;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1024px;
}

/* ## Header */

.site-header .site-logo {
  display: block;
  margin: 16px auto;
  max-width: 500px;
  width: 100%;
}

/* ### Header bar */

.site-header .header-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-header .header-bar .social-networks .social-button .fa {
  color: var(--grey-25);
  font-size: 2.5rem;
}

.site-header .header-bar .search-engine {
  background: var(--grey-25);
  display: flex;
  font-size: inherit;
  margin-top: 4px;
  padding: 2px;
  width: 100%;
}

.site-header .header-bar .search-engine-input {
  border: 0;
  font-size: 1.6rem;
  padding: 4px;
  width: 100%;
}

.site-header .header-bar .search-engine-button {
  border: 0;
  background: white;
}

@media(min-width: 768px) {
  .site-header .header-bar .social-networks {
    order: 1;
  }

  .site-header .header-bar .cart-button {
    order: 3;
  }

  .site-header .header-bar .search-engine {
    margin-top: 0;
    order: 2;
    width: 50%;
  }
}

/* ### Navigation */

.site-header .site-navigation {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.site-header .site-navigation .navigation-item {
  padding: 4px 0;
}

.site-header .site-navigation .sub-navigation-header::after {
  content: '▼';
  font-size: 1rem;
  margin-left: 4px;
}

.site-header .site-navigation .sub-navigation .navigation-item {
  margin-left: 8px;
}

@media(min-width: 768px) {
  .site-header .site-navigation {
    background-color: var(--grey-25);
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4px 0;
  }

  .site-header .site-navigation .sub-navigation-header {
    padding: 0;
  }

  .site-header .site-navigation .sub-navigation {
    display: none;
  }

  .site-header .site-navigation a.navigation-item-link,
  .site-header .site-navigation, sub-navigation-header {
    color: white;
  }
}

/* ## Main */

.site-main {
  border-top: 1px solid var(--grey-25);
  border-bottom: 1px solid var(--grey-25);
  margin: 16px auto;
  padding: 16px;
}

/* ## Footer */

.site-footer .footer-block {
  margin-bottom: 16px;
}

@media(min-width: 768px) {
  .site-footer {
    display: flex;
    justify-content: space-between;
  }

  .site-footer .footer-block {
    width: 240px;
  }

  .site-footer .footer-biblys-logo {
    text-align: center;
  }
}
